@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.welcome{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Wel-con{
    text-align: center;
}

.Wel-con h1{
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    position: relative;
    bottom: 40px;
    font-family: "Montserrat", sans-serif;;
}

.Wel-con h1:hover{
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

/* Reusable Button */
.btn {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
    color: #f8f8f8;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
  }
  
  .btn:hover {
    color: #ffffff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    -webkit-box-shadow: 4px 5px 17px -4px #268391;
    box-shadow: 4px 5px 17px -4px #268391;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    -webkit-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    transform: skewX(45deg);
    z-index: -1;
    -webkit-transition: width 1000ms;
    transition: width 1000ms;
  }
  
  .btn:hover::before {
    width: 250%;
  }
  

.liveMore{
    position: relative;
    left: 100px;
}

.backVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}












































@media screen and (max-width: 425px) {
    .welcome{
        height: 180px;
        padding: 0%;
        margin: 0;
        width: auto;
        
    }
    .Wel-con h1{
        font-size: 30px;
        height: 0;
    }

    .btn{
        font-size: 10px;
        position: relative;
        top: 20px;
        height: 30px;
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }

   

  }


@media (min-aspect-ratio:16/9){
    .backVideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .backVideo{
        width: auto;
        height: 100%;
    }
}