*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header{
    position: relative;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    position: relative;
    display: block;
    left: 20px;
    top: 5px;
    font-size: 20px;
    font-weight: 500;
}

.nav-panel{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 8px;
    left: 5px;
    top: 10px;
    font-size: 15px;
}



@media screen {
    
}